<!DOCTYPE html>
<html lang="en">

<head>
  <title>404 💜 | SimerCDN</title>
  <link href="https://cdn.cybryx.live/style.css" rel="stylesheet" type="text/css" />
  <link rel="icon" href="https://cdn.cybryx.live/x.png">
  <link rel="manifest" href="/manifest.json" />

</head>
<div id="contact">
  <h3>404 - Not Found!
    <hr>
    <%= filename %> was not found inside the <%= username %> storage bucket.
  </h3>
  <p><button class="w3-button w3-light-grey w3-padding-large submit" onclick="window.location.href='/bucket'">Back to Bucket</button>
<!--     <script src="script.js"></script> -->
  </div>

</html>